header {
  position: relative;

  .wrapper {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
  }
  .logo {
    margin: 15px;
    float: left;
    overflow: hidden;
    img {
      height: 30px;
      float: left;
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 120px;
  }
}