header {
  height: 60px;
  position: relative;

  .wrapper {
    width: 1200px;
    height: inherit;
    margin: 0 auto;
  }
  a {
    margin: 15px;
    float: left;
    overflow: hidden;
    .logo {
      height: 30px;
      line-height: 30px;
      float: left;
      vertical-align: middle;
      img {
        height: 30px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 120px;
  }
}