.card-list {
  height: 526px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-bottom: 50px;
  flex-direction: row;
  -ms-flex-direction: row;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .card-list {
    flex-direction: column;
    -ms-flex-direction: column;
  }
}